<!DOCTYPE html>
<html>
  <head>
    <title>Book shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <!-- Nav Partial -->
  <%= render 'layouts/header' %>
  <body bgcolor = "#D2B48C">
  
  </body>
</html>
